.blog-box {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: fit-content;

    &:hover {
        box-shadow: 0 4px 8px rgba(10, 10, 10, 25);
    }

    .blog-title {
        padding: 0.25rem;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        h2 {
            font-size: 1.65rem;
        }
    }

    .blog-description {
        padding: 0.25rem;

        h2 {
            font-size: 1.1rem;
            font-weight: 500;
            color: var(--grey-4);
        }
    }

    .blog-content {
        padding: 0.25rem;

        h2 {
            font-size: 0.95rem;
            font-weight: 500;
            color: var(--black);
        }
    }

    .blog-meta {
        padding: 0.25rem;
        display: flex;
        align-items: center;

        .blog-controls {
            display: flex;
            gap: 1rem;

            .MuiSvgIcon-root {
                border-radius: 50%;
                padding: 0.35rem;
                font-size: 2rem;
                line-height: 0;

                &:hover {
                    cursor: pointer;
                    background-color: var(--grey-7);
                }
            }
        }

        h2 {
            margin-left: auto;
            font-size: 0.7rem;
            font-weight: 500;
            color: var(--black);
        }
    }
}
